:host {
  display: flex;
}
.app-message-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.app-user-container {
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;
}
