:host {
  flex-grow: 0;
  height: 100%;
  overflow: auto;
}

.message-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

@keyframes message-in {
  0% {
    transform: scale(0.75) translateY(2rem);
    opacity: 0;
  }
  50% {
    transform: scale(1) translateY(0rem);
  }
  100% {
    transform: scale(1) translateY(0rem);
    opacity: 1;
  }
}

@keyframes timestamp-in {
  from {
    transform: translateX(-2rem);
    opacity: 0;
  }
}

@keyframes timestamp-in-self {
  from {
    transform: translateX(2rem);
    opacity: 0;
  }
}

.message {
  display: flex;
  flex-flow: wrap;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  flex-direction: column;
  background: rgba(#000, 0.025);
  margin: 1rem auto 1rem 0.75rem;
  position: relative;
  max-width: 50%;
  animation: message-in .5s;
  &--system {
    // background-color: rgba(#000, 0.025);
    color: rgba(#000, 0.25);
    width: 100%;
    flex-direction: row;
    font-size: 0.7rem;
    margin: 1rem 0.75rem;
    border-radius: 0;
    background: transparent;
    padding: 0;
    max-width: none;

  }
  &--system &__content {
    margin-left: 0.5rem;
  }
  &--self {
    margin: 1rem 0.75rem 1rem auto;
  }
  &--self &__timestamp {
    margin-left: auto;
    left: auto;
    right: 0;
    animation: timestamp-in-self .5s .2s both;
  }
  &--system &__timestamp {
    position: static;
  }
  &--system + & {
    margin-top: 1.35rem;
  }
  &--system + &--system {
    margin-top: 0;
  }
  &__timestamp {
    color: rgba(#000, 0.25);
    // margin-right: 0.5rem;
    font-size: 0.7rem;
    position: absolute;
    top: -1.25rem;
    left: 0;
    animation: timestamp-in .5s .2s both;
  }
  &__author {
    font-weight: bold;
    // margin-right: 0.5rem;
  }
  &__content {
  }
}
